<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KollyWood Game | Home</title>
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <span class="text">Set the Value's Here</span>
  <a href="/player1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Player 1
  </a>
  <span class="text">Answer Here</span>
  <a href="/player2">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Player 2
  </a>

</body>
<%- include('./partials/footer.ejs')%>

</html>
